/* header related styles */
.banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 800px;
    position: relative;
    padding: 20px 20px;
    margin: 130px 130px;
    background-image: url('./images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    align-items: center;
       
}
.banner-greeting{
color: rgb(255, 255, 255);
text-align: center;
font-family: Merriweather;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 330px;

}
.banner-title{
    height: 500px;
    color: #f8f8f8;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900px;
}
/* main section styles */
.offer{
    padding: 10px;
    background: #FFF;
    margin: 30px;
}
.offer-title{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.deals{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.category{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.newPhoto{
     margin: 0px 398px 0px;
}
 
.midnight{
    height: 735px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    align-items: center;
    margin: 110px 140px 60px;
    background-image: url('./images/Vectorrr.png')

 }
 .welcome{
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
 }
 .party-des{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
 }
 .join{
    color: #8d8b8b;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
 }
 .logo{
    display: flex;
    padding: 0px 38px 7px 1062px;
 }
